*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
*.MF
target/
*.iml
*.ipr
*.iws
*.log
.settings/
.classpath
.class);.metadata/
.idea/
logs/
.mvn/
.log
product.properties
server.properties
dependency-reduced-pom.xml
/bin
.mymetadata
pom.xml.versionsBackup